# Credenciais do Superusuário para Desenvolvimento
DJANGO_SUPERUSER_PASSWORD='django_superuser_password'
DJANGO_SUPERUSER_EMAIL='django_superuser_email'

# Telegram Bot Environment Variables Example
TELEGRAM_BOT_TOKEN="token"

# Fake secret key
SECRET_KEY="bot!_telegram!_env!_!@#"

# 0 False, 1 True
DEBUG="1"

# Comma Separated values
ALLOWED_HOSTS="127.0.0.1, localhost"

# Fake values
DB_ENGINE="django.db.backends.postgresql"
POSTGRES_DB="bot_database"
POSTGRES_USER="bot_user"
POSTGRES_PASSWORD="bot_user_password"
POSTGRES_HOST="psql"
POSTGRES_PORT="5432"